@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/200.css";

body {
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg-gray-dark {
  background-color: #1e1e1e !important;
}

.bg-gray-medium {
  background-color: #323232 !important;
}

.bg-gray-light {
  background-color: #4d4d4d !important;
}

.text-gray-light {
  color: #b6b4b4 !important;
}

.border-bottom {
  width: 100%;
  border-bottom: 0.5px solid #4c4c4c !important;
}

.extra-light-text {
  font-size: 14px;
}

.updating {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.add-button {
  background-color: #fad15a !important;
  color: #1e1e1e !important;
  font-size: 14px;
}

.priority-high {
  background-color: rgb(255, 59, 48);
}

.priority-medium {
  background-color: rgb(255, 159, 10);
}

.priority-low {
  background-color: rgb(48, 209, 88);
}
